<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ server_option }}{% block title %}{% endblock %} - Camphor Tree</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {{ server_option }} Console
      {% endblock %}
    </div>
  </body>
</html>
